<ion-view view-title="{{ toUser.name }}" id="userMessagesView">
    <ion-content has-bouncing="true" ng-class="{expanded:isExpanded}" class="has-header has-footer" delegate-handle="userMessageScroll">
      <div class="list animate-fade-slide-in-right">
            <div ng-repeat="message in messages track by message.message_id+$index" class="message-wrapper"
                on-hold="onMessageHold($event, $index, message)">

                <div ng-if="user.id != message.id">

                  <img class="profile-pic left" ng-src="{{message.profile_picture}}" onerror="onProfilePicError(this)" />

                    <div class="chat-bubble left">

                        <div class="message">
                          {{ message.message }}
                        </div>

                        <div class="message-detail">
                            <span ng-click="viewProfile(message)"
                                class="bold">{{message.name}}</span>,
                            <span am-time-ago="{{ message.created_at | date }}"></span>
                        </div>

                    </div>
                </div>

                <div ng-if="user.id == message.id">

                     <img ng-click="viewProfile(message)" class="profile-pic right"
                        ng-src="{{message.profile_picture}}" onerror="onProfilePicError(this)" />

                    <div class="chat-bubble right">
                        <div class="message">{{ message.message}}</div>
                        <div class="message-detail">
                            <span ng-click="viewProfile(message)"
                                class="bold">{{message.name}}</span>,
                            <span am-time-ago="{{ message.created_at | date }} "></span>
                        </div>
                    </div>
                </div>

                <div class="cf"></div>
            </div>
      </div>
    </ion-content>
    <form name="sendMessageForm" ng-submit="sendMessage(sendMessageForm)" novalidate>
        <ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach>
            <label class="item-input-wrapper">
                <textarea class="textarea-message" ng-model="input.message" value="" placeholder="Send {{toUser.username}} a message..." required minlength="1" maxlength="1500" msd-elastic></textarea>
            </label>
            <div class="footer-btn-wrap">
              <button class="button button-icon icon ion-android-send footer-btn" type="submit"
                  ng-disabled="!input.message || input.message === ''">
              </button>
            </div>
        </ion-footer-bar>
    </form>
</ion-view>
