<ion-view view-title="Invite user for chat">
    <ion-content ng-class="{expanded:$scope.isExpanded}" class="animate-fade-slide-in">
        <form>
          <div class="invite-body">
            <div class="list">
                <ion-md-input  placeholder="Email" name="email" ng-model="invite.email" highlight-color="balanced" type="text"></ion-md-input>
                <span class="input-error">{{ error['email'] }}</span>
            </div>
            <div class="padding">
                <button ng-click="inviteUser()" class="button button-full button-assertive ink">Invite</button>
            </div>
        </div>
      </form>
  </ion-content>
</ion-view>
